:root{
  --color-black: #000000;
  --color-light-grey: #f0f0f0;
  --color-dark-grey:  #9e9e9e;
  --color-highlight: #ea6721;
  --color-dark-highlight:#705380;
  --measurement: 2px;
  --bs-primary: #00b7ff;
  --bs-primary-rgb: 0, 183, 255;
}

/* Hide "Edit" links if enabled */
.book-extra {
  display: none;
}

/* Typography */
body {
  font-family: 'Lato';
}

h1, h2, h3 {
  font-family: 'Roboto';
}

.sidebar h1 {
  font-size: 1.5rem;
}

.nav-tabs .nav-link {
  color: #00b7ff !important;
}

a:hover,
div.sidebar-item-container .active,
div.sidebar-item-container .show > .nav-link,
div.sidebar-item-container .sidebar-link > code {
  color: #00a5e6 !important;
}

/* Page layout */
@media (min-width: 1240px) {
  body.floating .page-columns {
    display: grid;
    gap: 0;
    grid-template-columns:
      [screen-start] 1.5em
      [screen-start-inset] 5fr
      [page-start] minmax(25px, 50px)
      [page-start-inset] minmax(50px, 150px)
      [body-start-outset] minmax(25px, 50px)
      [body-start] 4em
      [body-content-start] minmax(500px, calc(800px - 3em))
      [body-content-end] 4em
      [body-end] minmax(25px, 50px)
      [body-end-outset] minmax(50px, 150px)
      [page-end-inset] minmax(25px, 50px)
      [page-end] 5fr
      [screen-end-inset] 1.5em
      [screen-end];
  }
}

/* Table footnotes */
.footnote {
  text-align: left;
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #777;
}

/* Table of contents */
h1 small {
  display: block;
}

/* Cover box */
.cover-box {
  padding: 8px 16px;
  margin: 16px 0 32px 0;
  border: 2px solid var(--color-dark-grey);
  border-radius: 4px;
}

.shadow {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.shadow-md {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.cover-img img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cover-text h2 {
  margin-top: 16px;
}

/* Sidebar title styling */
.sidebar-title a {
  text-decoration: none;
}

.sidebar-title span {
  font-weight: 700;
}

/* Cover buttons */
.cover-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.cover-actions a {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid var(--color-dark-grey);
  text-decoration: none;
  color: #111;
}

.cover-actions a:hover {
  border-color: #00a5e6;
  color: #00a5e6;
}
